{% extends 'blog/layout.html' %}

{% block page_header %}


{% endblock page_header %}

{% block content %}

{% if messages %}
    <div>
        {% for message in messages %}
            {% if 'collabs' in message.tags %}
                <div class="alert alert-{{ message.level_tag }}">
                    {{message}}
                </div>
            {% endif %}                    
        {% endfor %}
    </div>
{% endif %}

<div class="px-1 px-md-4 py-4 d-flex flex-column centered">
    <div class="centered pb-1">
        <h3>  Añadir colaborador </h3>
    </div>
</div>

<div class="px-1 px-md-4 py-4 d-flex flex-column blackboard col-md-8 mx-auto">
    <p class="me-auto p-2 blog-options">
        <a href="{% url 'blog:entries_list' blog.id %}">&laquo; Atrás </a>
    </p>
    <div class="centered pb-3">
        <h4>Elige a alguien de tu lista de amigos</h4>
    </div>
    {% for friend in user_friends %}
        <div class="friends-list pb-2 pt-2">
            <div class="friends-row border-bottom pb-2">
                <div>
                    <p>{{friend}}</p>
                </div>
                <div class="friends-row-buttons">
                    <form action="{% url 'collaborators:new_collab_request' blog.id friend.id %}"
                     method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class= "friends-row-button ms-auto" 
                            type="submit">Invitar</button>
                    </form>
                </div>
            </div>
        </div>
    {% empty %}
    <p>Debes tener a alguien en tu lista de amigos para enviarle una solicitud de colaboración</p>
    {% endfor %}
</div>

{% endblock content %}