<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="margin:0; padding:0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <div style="max-width: 600px; margin: 20px auto; background-color: #f6f1eb; border-radius: 8px; overflow: hidden; border: 1px solid #ddd;">
        <img src="https://res.cloudinary.com/drudyw2gl/image/upload/v1767751950/logo_bugo_blogoteca_iep8mt.png" style="width: 100%; display: block;">
        
        <div style="padding: 20px;">
            <h2 style="color: #333;">¡Nos pasa a tod@s!</h2>
            <p style="color: #666; line-height: 1.5;">
                ¡Hola, {{user_name}}! Parece que necesitas restablecer tu contraseña. ¡No te preopcupes,
                estamos para eso! <strong>Pulsa el botón y sigue las instrucciones de la página.</strong>
            </p>
            <p style="color: #666; line-height: 1.5;">Att: El equipo de la blogoteca</p>
            
            <div style="text-align: center; margin-top: 30px;">
                <a href="{{link_url}}" style="background-color: #007bff; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;">
                    Restablecer contraseña
                </a>
            </div>
        </div>
    </div>
</body>
</html>