{% extends "blog/layout.html" %}

    <title>Home</title>

{% block content%}
    <div class="blackboard">
        <div class="border-bottom text-center pb-3">
            <h3> Tus Blogs </h3>
            <a href="{% url 'blog:new_blog' %}"> Crear Blog </a>
        </div>

        <ul class="list-group pb-2 pt-4 mb-4 bg-none">
            {%for blog in blogs%}
                {% if blog.author == request.user %}
                    <li class="list-group-item border-none                                                                                                                                                              ">
                        <a href="{% url 'blog:entries_list' blog.id %}">{{ blog.text }}</a>
                    </li>
            {% endif %}                                                                                                                                 

            {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                <p>Aún no has creado ningún blog </p>
            
            {% endfor %}
            
        </ul>
        <h3 class="border-bottom text-center pb-3"> Blogs de la comunidad </h3>

        <ul class="list-group pb-2 pt-4 mb-4 bg-none">
            {%for blog in blogs%}
            {% if blog.author != request.user %}
                <li class="list-group-item">
                    <a href="{% url 'blog:entries_list' blog.id %}">{{ blog.text }}</a>
                </li>
            {% endif %}
            {%empty%}
                <p>Aún no se ha creado ningún blog </p>
            {% endfor %}
        </ul>


       
    </div>
{%endblock content%}