{% extends "blog/layout.html" %}
{% load timeago %}

    <title>Home</title>

{% block content%}

    {%  if messages %}
        <div>
            {% for message in messages %}
                {% if 'accounts' in message.tags %}
                    <div class="alert alert-{{ message.level_tag }}">
                        {{message}}
                    </div>
                {% endif %}    
            {% endfor %}
        </div>
    {% endif %}

    <div class="blackboard">
        {% if request.user.is_authenticated %}
            <div class="text-center pb-3">
                <h3> Tus Blogs </h3>
                <a href="{% url 'blog:new_blog' %}"> Crear Blog </a>
            </div>
            {% if user_blogs %}
                <div class="left-row">
                    {% for blog in user_blogs %}
                        <div class="card shadowed m-4 block" style="width: 18rem;">
                            <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                                
                                <p class="card-text">
                                    {{ blog.about | truncatechars:80 }}
                                </p>
                            </div>
                                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>
                                <div class="left-row card-footer">
                                    <a href="{% url 'accounts:user_profile' blog.author.id %}">
                                        <img src="{{ blog.author.avatar_small }}">
                                    </a>

                                <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                            </div>
                        </div>
                
                    {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <p>Aún no has creado ningún blog </p>
                    
                    {% endfor %}
                </div>
            {% endif %}
        
            {% if collaborating_blogs %}
                <div class="text-center pb-3">
                    <h3> Blogs en los que colaboras </h3>
                </div>
                <div class="left-row">
                    {% for blog in collaborating_blogs %}

                    
                        <div class="card block shadowed m-4" style="width: 18rem;">
                            <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                            
                                <p class="card-text">{{ blog.about | truncatechars:80 }}</p>
                            
                                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>
                            </div>
                            <div class="left-row card-footer">
                                <a href="{% url 'accounts:user_profile' blog.author.id %}">
                                    <img src="{{ blog.author.avatar_small }}">
                                </a>
                                <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                            </div>
                            
                        </div>
                    
                    {% endfor %}
                </div>
            {% endif %}

            {% if friends_blogs %}
                <div class="text-center pb-3">
                    <h3> Blogs de tus amigos </h3>
                </div>

                <div class="left-row">
                    {% for blog in friends_blogs %}
                    {% if blog not in collaborating_blogs %}

                    
                        <div class="card block shadowed m-4" style="width: 18rem;">
                            <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                            
                                <p class="card-text">{{ blog.about | truncatechars:80 }}</p>
                            
                                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>
                            </div>

                            <div class="left-row card-footer">
                                <a href="{% url 'accounts:user_profile' blog.author.id %}">
                                    <img src="{{ blog.author.avatar_small }}">
                                </a>

                                <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                            </div>
                            
                        </div>
                    
                    {% endif %}
                    {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <p>Aún no has creado ningún blog </p>
                    
                    {% endfor %}
                </div>
            
            {% endif %}
        {% endif %}

        </ul>
        <h3 class="text-center pb-3"> Blogs de la comunidad </h3>

        <ul class="list-group pb-2 pt-4 mb-4 bg-none">
            {% if request.user.is_authenticated %}
                <div class="left-row">
                    {% for blog in other_blogs %}

                        <div class="card block shadowed m-4" style="width: 18rem;">
                            <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                            
                                <p class="card-text">{{ blog.about | truncatechars:80 }}</p>
                            
                                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>
                            </div>
                            <div class="left-row card-footer">
                                <a href="{% url 'accounts:user_profile' blog.author.id %}">
                                    <img src="{{ blog.author.avatar_small }}">
                                </a>

                                <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                            </div>
                            
                        </div>
                    

                    {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <p>No hay blogs en esta categoría </p>
                    
                    {% endfor %}
                </div>
            {% else %}
                <div class="left-row">
                    {% for blog in blogs %}

                        <div class="card block shadowed m-4" style="width: 18rem;">
                            <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                            
                                <p class="card-text">{{ blog.about | truncatechars:80 }}</p>
                            
                                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>
                            </div>

                            <div class="left-row card-footer">
                                <a href="{% url 'accounts:user_profile' blog.author.id %}">
                                    <img src="{{ blog.author.avatar_small }}">
                                </a>

                                <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                            </div>
                            
                        </div>
                    
                    {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                        <p>Aún no se ha creado ningún blog </p>
                    
                    {% endfor %}
                </div>
            {% endif %}
        </ul>       
    </div>
{%endblock content%}