{% extends "blog/layout.html" %}
{% load django_bootstrap5 %}

    <title>Editar entrada</title>

{% block page_header %}

<div class="p-3 mb-1 blackboard centered text-center">
        <h1> Editar Entrada </h1>
</div>
{% endblock page_header %}


{% block content%}

    <div class="p-3 mb-1 blackboard">
        <div class="centered">
            <form action="{% url 'blog:edit_entry' entry.id %}" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {{form.media}}

                    <script>

                        tinymce.init({
                            height: 400,
                            width: "100%",
                            selector: "textarea",
                            plugins: "image link",
                            menubar: false,
                            toolbar: "undo redo | bold italic underline | forecolor backcolor fontsize | " + 
                                    "alignleft aligncenter alignright alignjustify | " +
                                    "bullist numlist outdent indent | image link | ",

                            paste_data_images: true,
                            
                            images_upload_handler: (blobInfo) => {
                                return new Promise((resolve, reject) => {
                                    const xhr = new XMLHttpRequest();
                                    const formData = new FormData();

                                    xhr.open(
                                        "POST",
                                        "https://api.cloudinary.com/v1_1/drudyw2gl/image/upload",
                                        true
                                    );

                                    xhr.onload = () => {
                                        if (xhr.status !== 200) {
                                            reject(xhr.responseText);
                                            return;
                                        }

                                        const json = JSON.parse(xhr.responseText);
                                        resolve(json.secure_url);
                                    };

                                    xhr.onerror = () => reject("Upload failed");

                                    formData.append("file", blobInfo.blob());
                                    formData.append("upload_preset", "tinymce_media_upload");

                                    xhr.send(formData);
                                });
                            }
                        });

                    </script>

                    {% bootstrap_button button_type="submit" content="Editar" %}
            </form>
        </div>
    </div>

{%endblock content%}