{% extends "blog/layout.html" %}

<title>Home</title>
{% block content%}
<div class="blackboard">
    <p class="me-auto p-2 blog-options">
        <a href="{% url 'blog:blogs_list' %}">&laquo; Atrás </a>
    </p>
    <div class="centered border-bottom pb-3">
        <h2>  {{ blog.text }} </h2>
        <p class="message-link c">Creado por {{ blog.author }} el {{ blog.date_added }}</p>
    </div>
    {% if blog.author == request.user %}
        <div class="blog-options pb-3 pt-3 border-bottom">
            <div class="push-up me-auto">
                    <a href="{% url 'blog:new_entry' blog.id %}"> Nueva Entrada </a>
            </div>
            <div class=" push-up ms-auto">
                    <form action="{% url 'blog:delete_blog' blog.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">🗑️ Eliminar</button>
                    </form>
                </div>
        </div>
    {% endif %} 

    <ul class="list-group pb-3 mb-4 border-bottom">
        {% for entry in entries %}
            <li class="list-group-item">
              <a href="{% url 'blog:entry' blog.id entry.id %}">{{entry.title}}</a>  
            </li>
        {%empty%}
            <li>Aún no hay entradas para este tema. ¡Estrénalo!</li>
        {% endfor %}
            
    </ul>
    

    
</div>
{%endblock content%}