{% extends "blog/layout.html" %}

<title>Home</title>
{% block content%}
<div class=blackboard>
    
    <div class="centered pb-4 border-bottom">
        <h2>{{ entry.title }}</h2>
        <p>Añadida el {{ entry.date_added }} por {{ blog.author }}</p>
        {% if blog.author == request.user %}
            <a href="{% url 'blog:edit_entry' entry.id %}"> Editar Entrada </a>
        {% endif %}
    </div> 

    <div class="pt-4 pb-3 border-bottom">
        {% if entry.banner %}
            <img 
            class = "img-fluid w-50 mx-3 rounded banner"
            src = {{ entry.banner.url }}>
        {% endif %}
        <p>{{ entry.text| linebreaksbr}}</p>
    </div> 
    <p class="me-auto p-2 pt-4">
        <a href="{% url 'blog:entries_list' blog.id %}">&laquo; Atrás </a>
    </p>
</div>
{%endblock content%}