{% extends "blog/layout.html" %}

<title>Home</title>
{% block content%}
<div class=blackboard>
    
    <div class="pb-3 border-bottom centered">
        <h2>{{ entry.title }}</h2>
        <p>Añadida el {{ entry.date_added }} por {{ blog.author }}</p>
    </div>
    {% if blog.author == request.user %}
        <div class="blog-options pb-3 pt-3 border-bottom">
            <div class="me-auto">
                <a href="{% url 'blog:edit_entry' entry.id %}"> Editar </a>
            </div>
            <div class="ms-auto">
                <form action="{% url 'blog:delete_entry' entry.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">🗑️ Eliminar</button>
                </form>
            </div>
        </div>

        {% endif %}
    

    <div class="pt-4 pb-3 border-bottom  stretch-line">
        <p>{{ entry.text| linebreaksbr}}</p>
    </div> 
    <p class="me-auto p-2 pt-4">
        <a href="{% url 'blog:entries_list' blog.id %}">&laquo; Atrás </a>
    </p>
</div>
{%endblock content%}