{% extends "blog/layout.html" %}
{% load django_bootstrap5%}

<title>Home</title>
{% block content%}
<div class=blackboard>
    <div class="me-auto">
            <a href="{% url 'blog:entries_list' blog.id %}">&laquo; Atrás </a>
    </div>
    <div class="pb-3 border-bottom centered">
        <h2>{{ entry.title }}</h2>
        <p>Añadida el {{ entry.date_added }} por {{ blog.author }}</p>
    </div>
    {% if blog.author == request.user %}
        <div class="blog-options pb-3 pt-3 border-bottom">
            <div class="me-auto">
                <a href="{% url 'blog:edit_entry' entry.id %}"> Editar </a>
            </div>
            <div class="ms-auto">
                <form action="{% url 'blog:delete_entry' entry.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">🗑️ Eliminar</button>
                </form>
            </div>
        </div>
        {% endif %}
    
    <div class="pt-4 pb-3 stretch-line">
        <p>{{ entry.text| linebreaksbr}}</p>
    </div>
    <div class= "blog-options p-2 pt-4 border-bottom" style="--bs-border-opacity: .5;"> 
        
        <div class="ms-auto">
            <a href="{% url 'blog:comment_entry' entry.id %}"> Comentar </a>
        </div>
    </div>
        {% if comments %}
            {% for comment in comments %}
                <div class="comment-bar pb-2">
                    <div class="comment-bar me-auto">
                        <p>{{comment.author}}, el {{comment.date_added}}:</p>
                    </div>
                </div>
                <div class="comment-text pb-1">
                    <p>{{comment.text | linebreaks}}</p>
                </div>
                <div class="comment-bar border-bottom pb-2">
                    <div style="--bs-border-opacity: .5;">
                            <a href="{% url 'blog:comment_response' comment.id %}"> 
                                Responder </a>
                    </div>
                    {% if comment.author == request.user %}
                        <div style="--bs-border-opacity: .5;">
                            <form action="{% url 'blog:delete_comment' comment.id %}" 
                            method="POST">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Borrar</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            <div>
            <div class="border-bottom">
                {% for response in comment.commentresponse_set.all %}
                
                    <div class="response-block border-start border-bottom">
                        <div class="comment-bar pb-1">
                            <div class="comment-bar ms-8">
                                <p>{{response.author}} respondió:</p>
                            </div>
                        </div>
                        <div class="comment-text pb-2" 
                        style="--bs-border-opacity: .5;">
                            <p>{{response.text | linebreaks}}</p>
                        </div>
                        {% if response.author == request.user %}
                        
                            <div class="ms-auto blog-options">
                                <form action="{% url 'blog:delete_response' response.id %}" 
                                method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="logout-button">Borrar Respuesta</button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}  
        
</div>    
{%endblock content%}