{% extends "blog/layout.html" %}
<head>
<title>La Blogoteca - Home</title>

</head>
{% block page_header%}
<div class="mb-4 blackboard col-12 col-md-8  d-block mx-auto">
    <div class="Container-fluid py-4">
                
        <div class="text-center pb-3 border-bottom">
            <img class="card-img-top" src="https://res.cloudinary.com/drudyw2gl/image/upload/v1767751950/logo_bugo_blogoteca_iep8mt.png">
            <h2 class="display-5">¡Asómate al mundo!</h2>
        </div>
        <div class="mt-6">
            <p class="lead"> Crea tus propios blogs o échale un vistazo a los de la comunidad.
                También puedes invitar a otros usuarios a colaborar en tus blogs para que 
                puedan publicar en ellos.</p>
                
            <a class="btn btn-primary btn-lg mt-4"
            href="{% url 'accounts:register' %}"> Regístrate ahora &raquo;</a>
        </div>
    </div>
</div>
{% endblock page_header%}
{% block content%}
{%endblock content%}