{% extends "blog/layout.html" %}
{% load django_bootstrap5 %}
<head>
    <title>Log in</title>
</head>

<body>
{% block page_header %}
     {%  if messages %}
        <div>
            {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }}">
                        {{message}}
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="px-1 px-md-4 py-4 d-flex flex-column adjusted">
        <h2 class="text-center">Inicia sesión en tu cuenta</h2>
    </div>
{% endblock page_header %}

{% block content%}
    <div class="px-1 px-md-4 py-4 d-flex flex-column">
        <div class="centered adjusted blackboard py-4">
            <form action="{% url 'accounts:login' %}" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Entrar" %}
            </form>
        
    
            <div class="message-link">
            <p class="mt-4"><small>¿Aún no tienes una cuenta?</small></p>
            <a class="push-up small" href="{% url 'accounts:register' %}">¡Regístrate!</a>
            <p><small>¿Olvidaste tu contraseña?</small></p>
            <a class="push-up" href="{% url 'accounts:password_reset_request' %}">Restablecer contraseña</a>
            </div>
        </div>
    </div>
    
    
    
{% endblock content%}

</body>