{% extends "blog/layout.html" %}
{% load django_bootstrap5 %}
<head>
    <title>Log in</title>
</head>

<body>
{% block page_header %}

    <div class="px-1 px-md-4 py-4 d-flex flex-column centered">
        <h2 class="text-center">¿Olvidaste tu contraseña?</h2>
        <p>Rellena el formulario y sigue las instrucciones que recibirás por mail</p>
    </div>
{% endblock page_header %}

{% block content%}
    <div class="px-1 px-md-4 py-4 d-flex flex-column adjusted blackboard">
        <div class="centered">
            <form action="{% url 'accounts:password_reset_request' %}" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Restablecer contraseña" %}
            </form>
        </div>
    </div>
    
    </div>
{% endblock content%}

</body>