{% extends "blog/layout.html" %}
{% load django_bootstrap5 %}
<head>
    <title>Log in</title>
</head>

<body>
{% block page_header %}

    <div class="p-3 mb-1 blackboard adjusted centered">
        <h2 class="text-center">Introduce tu nueva contraseña</h2>
    </div>
{% endblock page_header %}

{% block content%}
    <div class="blackboard adjusted p-3 mb-2">
        <div class="centered">
            <form action="{% url 'accounts:reset_password' uid_b64 token %}" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Restablecer contraseña" %}
            </form>
        </div>
    </div>
    
    </div>
{% endblock content%}

</body>