{% extends 'blog/layout.html' %}
{% load timeago %}

{% block page_header %}


{% endblock page_header %}

{% block content %}

{%  if messages %}
        <div>
            {% for message in messages %}
                {% if 'friends' in message.tags %}
                    <div class="alert alert-{{ message.level_tag }}">
                        {{message}}
                    </div>
                {% endif %}    
            {% endfor %}
        </div>
    {% endif %}

<div class="p-3 mb-4 blackboard">
    {% if request.user.is_authenticated %}
        {% if profile_user == request.user %}
            <div class="ms-auto">
                <a href="{% url 'accounts:edit_profile' request.user.id %}">Editar Perfil</a>
            </div>
        {% endif %}
    {% endif %}
    
    <div class="centered pt-4 pb-3">
        <img src = '{{ profile_user.avatar_url }}'>
    </div> 
    
    <div class="centered">
        <div class="p-1 mb-1">
            <h2 class="text-center">{{profile_user.user_name}}</h2>
        </div>

        <div class="p-1 mb-1">
            <p class="text-center">{{profile_user.first_name}} {{profile_user.last_name}}<p>
        </div>

        <div class="p-1 mb-1">
            <p class="text-center">{{profile_user.about}}<p>
        </div>
    </div>
    
<div class="p-3 mb-4 blackboard">
    <div>
        <h4 class="centered">Blogs</h4>
    </div>

    <div class="left-row">
        {% for blog in profile_user_blogs %}
            <div class="card shadowed m-2 block" style="width: 18rem;">
                <img src="{{blog.banner_url}}" class="card-img-top" alt="Blog banner">
                <a href="{% url 'blog:entries_list' blog.id %}" class="stretched-link"></a>

                <div class="card-body">
                    
                    <h5 class="card-title"><strong>{{ blog.text }}</strong></h5>
                    
                    <p class="card-text">
                        {{ blog.about | truncatechars:80 }}
                    </p>
                </div>

                <div class="left-row card-footer">
                    <a href="{% url 'accounts:user_profile' blog.author.id %}">
                        <img src="{{ blog.author.avatar_small }}">
                    </a>
                    <p class="text-muted"><small>{{ blog.date_added | custom_time_since }}</small></p>
                </div>
                
            </div>
        {%empty%}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
            <p>Aún no has creado ningún blog </p>
        {% endfor %}
    </div>     
</div>

{% if request.user.is_authenticated %}
        {% if request.user != profile_user %}
        <div class="p-3 mb-4 blackboard">
            <div>
                <h4 class="centered">Amigos en común</h4>
            </div>
            {% for friend in mutuals %}

                <ul> <a href="{% url 'accounts:user_profile' friend.id %}">{{friend}}</a> </ul>

            {% empty %}

            <ul>Aún no tenéis amigos en común:</ul>

            {% endfor %}
            <div class="centered">
                <form action=
                "{% url 'friends:new_friend_request' profile_user.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit" class="friends-row-button">Solicitar amistad</button>
                </form>
            </div>

        {% endif %}
    {% endif %}
</div>
{% endblock content %}
