body{
    background-color: whitesmoke;
    color: black;
}

h2, h3{
    font-family: "Vend Sans", sans-serif;
}

.monofett-regular {
  font-family: "Monofett", monospace;
  font-weight: 400;
  font-style: normal;
}

.navbar-style {
    background-color: brown;
    border: solid beige 1px;
    color: white;
    font-family:'Arial', 'Comic Sans, Chalkboard SE';
}

.badeen-display-regular {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
}


nav a{
    color: white;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
nav a:visited{
    color: white;
}
nav a:hover{
    color: lightseagreen;
}

nav button, span{
    margin-right: 0.5rem;
    margin-left: 0.5rem
}


a{
    color: black;
    display: inline;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
a:visited{
    color: black;
}
a:hover{
    color: lightseagreen;
}


.blackboard{
    display: flex;
    flex-direction: column;
    background-color: beige;
    font-family:'Arial', 'Comic Sans', 'Chalkboard SE';
    border: solid 0.1rem darkgray;
    box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    max-height: fit-content;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.blog-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 232);
    font-family:'Arial', 'Comic Sans', 'Chalkboard SE';
    border: solid 0.1rem darkgray;
    box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    max-height: fit-content;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.shadowed{
    box-shadow: 0 0.4rem 0.9rem 0 rgba(0, 0, 0, 0.4);
}

.adjusted{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.blackboard .list-group-item{
    background-color: transparent !important;
    color: black;
    border-color: transparent
}

.centered-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block{
    flex-shrink: 0;
}

.left-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.right-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.blackboard .centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-list{
    text-align: left;
    line-height: 150%;
    font-size: 1.5rem;
}

.title-list a{
    color: black
}

.title-list a:visited{
    color: black
}

.title-list a:hover{
    color: lightseagreen
}

.medium{
    font-size: 1.2rem;
}

.message-link{
    font-size: 1rem;
    align-items: center;
    display: inline;
}

.message-link a{
    font-size: 1rem;
}
.blog-entry{
    text-align: left;
    font-size: 1rem
}

.push-up{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0,5rem 1rem 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
}

.push-up a{
    color: black;
}
.push-up a:visited{
    color: black;
}
.push-up a:hover{
    color: lightseagreen;
}

.logout-button {
    all: unset;                 
    color: white;               
    font-family: 'Arial', 'Comic Sans', 'Chalkboard SE';
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.logout-button:hover {
    color: lightseagreen;
}


.form-info{
    font-size: 1rem;
    text-align: left;
}

.form-login{
    font-size: 1rem;
}

 .bg-dark .form-text {
    color: black !important;  
}

@media (max-width: 767.98px){
    .navbar-collapse{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .navbar-nav{
        margin-bottom: 0 !important;
    }

    .navbar-nav + .navbar-nav{
        margin-top: 0.5rem;
    }

    .navbar-nav.me-auto,
    .navbar-nav.ms-auto {
        margin-left: 0 !important;
        margin-right: 0 !important;
        align-items: flex-start;
    }
}

.banner {
    float: left;
}

.blog-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.blog-options a{
    font-size: 1rem;
}

.blog-options button{
    all: unset;                 
    color: black;               
    font-family: 'Arial', 'Comic Sans', 'Chalkboard SE';
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.blog-options button:hover{
    color: lightseagreen
}

.blog-options button:visited{
    margin-top: 0.5rem;
    color: black;
}

.stretch-line{
    align-items: stretch;
}

.comment-bar{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.comment-text{
    text-align: start;
    font-size: 1rem;
}

.comment-bar a{
    font-size: 1rem;
    color: black;
}
.comment-bar a:visited{
    color: black;
}
.comment-bar a:hover{
    color: lightseagreen;
}

.comment-bar button{
    all: unset;                 
    color: white;               
    font-family: 'Arial', 'Comic Sans', 'Chalkboard SE';
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.comment-bar button:hover{
    color: lightseagreen
}

.comment-bar button:visited{
    color: white
}

.response-block{
    margin-left: 1.5rem;
    padding-left: 0.5rem
}

.greeting {
    font-size: 1.2rem;
}
.greeting a{
    font-size: 1.2rem;
}
.friends-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.friends-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.friends-row a{
    font-size: 1.2rem;
}

.friends-row-buttons{
    display: flex;
    flex-direction: row;
}

.friends-row-button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-flex;
	cursor:pointer;
	color:white;
	font-family:'Arial', 'Comic Sans', 'Chalkboard SE';
	font-size:15px;
	font-weight:bold;
	padding:0.2rem 0.5rem;
    margin: 0 0.3rem 0 0.3rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.friends-row-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.friends-row-button:active {
	position:relative;
	top:1px;
}

.accordion-header,
.accordion-item,
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    width: auto !important;
    display: inline-flex !important;
    color: black
}

.accordion-button p{
    margin-right: 1rem;
    text-decoration: underline;
}

.accordion-button{
    height: auto;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f5f5dc' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.column-right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

#collapseOptions .card{
    width: fit-content;
    margin-left: auto;
    align-items: start;
    background-color: rgba(2, 7, 0, 0.158);
}