body{
    background-color: black;
    color: beige
}

.navbar-style {
    background-color: brown;
    border: solid beige 1px;
    color: beige;
    font-family:'Comic Sans MS', 'Comic Sans, Chalkboard SE';
}

nav a{
    color: beige;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
nav a:visited{
    color: beige;
}
nav a:hover{
    color: lightseagreen;
}

nav button, span{
    margin-right: 0.5rem;
    margin-left: 0.5rem
}


a{
    color: beige;
    display: inline;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem
}
a:visited{
    color: beige;
}
a:hover{
    color: lightseagreen;
}


.blackboard{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right,#0b3104, #072203) ;
    font-family:'Comic Sans MS', 'Comic Sans', 'Chalkboard SE';
    border: solid 0.5rem burlywood;
    border-radius: 0.5rem;
    max-height: fit-content;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
}

.blackboard .list-group-item{
    background-color: transparent !important;
    color: beige;
    border-color: transparent
}

.blackboard .centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-list{
    text-align: left;
    line-height: 150%;
    font-size: 1.5rem;
}

.title-list a{
    color: beige
}

.title-list a:visited{
    color: beige
}

.title-list a:hover{
    color: lightseagreen
}

.medium{
    font-size: 1.2rem;
}

.message-link{
    font-size: 1.2rem;
    align-items: center;
    display: inline-flex;
}
.blog-entry{
    text-align: left;
    font-size: 1rem
}

.push-up{
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0,5rem 1rem 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
}

.push-up a{
    color: beige;
}
.push-up a:visited{
    color: beige;
}
.push-up a:hover{
    color: lightseagreen;
}

.logout-button {
    all: unset;                 
    color: beige;               
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE';
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.logout-button:hover {
    color: lightseagreen;
}


.form-info{
    font-size: 1rem;
    text-align: left;
}

.form-login{
    font-size: 1rem;
}

 .bg-dark .form-text {
    color: beige !important;  
}

@media (max-width: 767.98px){
    .navbar-collapse{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .navbar-nav{
        margin-bottom: 0 !important;
    }

    .navbar-nav + .navbar-nav{
        margin-top: 0.5rem;
    }

    .navbar-nav.me-auto,
    .navbar-nav.ms-auto {
        margin-left: 0 !important;
        margin-right: 0 !important;
        align-items: flex-start;
    }
}

.banner {
    float: left;
}

.blog-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.blog-options a{
    font-size: 1rem;
}

.blog-options button{
    all: unset;                 
    color: beige;               
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE';
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.blog-options button:hover{
    color: lightseagreen
}

.blog-options button:visited{
    margin-top: 0.5rem;
    color: beige;
}

.stretch-line{
    align-items: stretch;
}

.comment-bar{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.comment-text{
    text-align: start;
    font-size: 1rem;
}

.comment-bar a{
    font-size: 1rem;
    color: beige;
}
.comment-bar a:visited{
    color: beige;
}
.comment-bar a:hover{
    color: lightseagreen;
}

.comment-bar button{
    all: unset;                 
    color: beige;               
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE';
    font-size: 1rem;
    cursor: pointer;
    margin: 0 0.5rem;
    text-decoration: underline;
}

.comment-bar button:hover{
    color: lightseagreen
}

.comment-bar button:visited{
    color: beige
}

.response-block{
    margin-left: 1.5rem;
    padding-left: 0.5rem
}